*.DS_Store
*.ipynb_checkpoints
.Rproj.user
my_work/assign1/nul
my_work/assign2/pluto_21v2.csv
my_work/assign2_datashader_python/pluto_21v2.csv
my_work/assign2_datashader_python/export/cloropleth.png
my_work/assign2_datashader_python/export/firery.png
my_work/assign1_ggplot_r/nul
